<div class="container">
    <div class="row">
        <div class="col s6" *ngFor="let item of Hotels | async">
            <div class="card">
                <div class="card-image">
                    <img src="http://hotelacannes.com/system/images/000/007/638/55075101-small.jpg?1484228859">
                    <span class="card-title">{{ item.nom }}</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                            class="material-icons">add</i></a>
                </div>
                <div class="card-content">
                    <p>{{ item.prix }}</p>
                </div>
            </div>
        </div>
    </div>
</div>