<h1>Créer toi un compte !</h1>

<div class="container">
<div class="row">
<div class="col-md-6 offset-md-3">
        <form id="monFormulaire" method="post" action="#">
                <p>
            <label for="nom">Nom :</label><br />
            <input type="text" name="nom" id="nom" />
            <br />
            <label for="prenom">Prénom :</label><br />
            <input type="text" name="prenom" id="prenom" />
       
            <br />
            <label for="adresse">Adresse :</label><br />
            <input type="text" name="adresse" id="adresse" />
       
            <br />
            <label for="cp">Code postal :</label><br />
            <input type="text" name="cp" id="cp"/>
       
            <br />
            <label for="ville">Ville :</label><br />
            <input type="text" name="ville" id="ville" />
       
            <br />
            <label for="tel">Téléphone :</label><br />
            <input type="text" name="tel" id="tel"/>
       
            <br />
            <label for="email">Email :</label><br />
            <input type="text" name="email" id="email" />

            <br />
            <br />
            <label for="password">Mot de passe :</label><br />
            <input type="password" name="password" id="password" />
       
            <br />
            <label for="login">Identifiant :</label><br />
            <input type="text" name="login" id="username" /><br />
            
            <br />
            <button class="btn waves-effect waves-light" type="submit" name="action">Envoyer</button>
            
            </p>
        </form>
</div>
</div>
</div>
